parameters:
	fluent:
		builders: []

parametersSchema:
	fluent: structure([
		builders: listOf(anyOf(
			structure([
				builder: string(),
				namespace: string()
			]),
			structure([
				builder: string()
			])
		))
	])

services:
	fluentNamespaceDiscovery:
		class: Respect\FluentAnalysis\NamespaceClassDiscovery

	fluentMapBuilder:
		class: Respect\FluentAnalysis\MethodMapBuilder
		arguments:
			discovery: @fluentNamespaceDiscovery

	fluentMapFactory:
		class: Respect\FluentAnalysis\MethodMapFactory
		arguments:
			builders: %fluent.builders%
			mapBuilder: @fluentMapBuilder

	fluentMethodMap:
		class: Respect\FluentAnalysis\MethodMap
		factory: @fluentMapFactory::createMethodMap

	fluentAssuranceMap:
		class: Respect\FluentAnalysis\AssuranceMap
		factory: @fluentMapFactory::createAssuranceMap

	-
		class: Respect\FluentAnalysis\FluentMethodsExtension
		arguments:
			methodMap: @fluentMethodMap
		tags:
			- phpstan.broker.methodsClassReflectionExtension

	-
		class: Respect\FluentAnalysis\FluentDynamicReturnTypeExtension
		arguments:
			methodMap: @fluentMethodMap
			assuranceMap: @fluentAssuranceMap
			targetClass: Respect\Fluent\Builders\FluentBuilder
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Respect\FluentAnalysis\FluentTypeSpecifyingExtension
		arguments:
			assuranceMap: @fluentAssuranceMap
			targetClass: Respect\Fluent\Builders\FluentBuilder
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
