parameters:
	fluent:
		methods: []
		assurances: []
		assertions: []

parametersSchema:
	fluent: structure([
		methods: arrayOf(arrayOf(string())),
		assurances: arrayOf(arrayOf(arrayOf(anyOf(string(), int(), listOf(anyOf(int(), type('null'))))))),
		assertions: arrayOf(listOf(string()))
	])

services:
	fluentMethodMap:
		class: Respect\FluentAnalysis\MethodMap
		arguments:
			methods: %fluent.methods%

	fluentAssuranceMap:
		class: Respect\FluentAnalysis\AssuranceMap
		arguments:
			assurances: %fluent.assurances%
			assertions: %fluent.assertions%

	-
		class: Respect\FluentAnalysis\FluentMethodsExtension
		arguments:
			methodMap: @fluentMethodMap
		tags:
			- phpstan.broker.methodsClassReflectionExtension

	-
		class: Respect\FluentAnalysis\FluentDynamicReturnTypeExtension
		arguments:
			methodMap: @fluentMethodMap
			assuranceMap: @fluentAssuranceMap
			targetClass: Respect\Fluent\Builders\FluentBuilder
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: Respect\FluentAnalysis\FluentTypeSpecifyingExtension
		arguments:
			assuranceMap: @fluentAssuranceMap
			targetClass: Respect\Fluent\Builders\FluentBuilder
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
